<script context="module">
  import {
    loadFetcher,
    fetchPageData,
    ConfigError,
    FetchError,
  } from "../fetchers"

  export async function preload(page, session) {
    const { slug } = page.params
    const pageConfig = session.config.pages.find(page1 => page1.slug === slug)
    if (!pageConfig) {
      return this.error(404, "Page not found")
    }
    const { source } = pageConfig
    let properties = { pageConfig }
    if (source) {
      let fetcher
      try {
        fetcher = loadFetcher(source.type)
      } catch (e) {
        if (e instanceof ConfigError) {
          console.error(e)
          return this.error(500, e.message)
        }
        throw e
      }
      const pageType = fetcher.getPageType(source)
      properties.pageType = pageType
      try {
        properties.pageData = await fetchPageData.bind(this)(
          pageType,
          fetcher,
          source
        )
      } catch (e) {
        if (e instanceof FetchError) {
          console.error(e)
          return this.error(500, e.message)
        }
        throw e
      }
    }
    return properties
  }
</script>

<script>
  import Page from "../components/Page.svelte"
  import Zone from "../components/Zone.svelte"

  export let pageConfig
  export let pageData
  export let pageType

  $: title = pageConfig.title || pageData.title
</script>

<Page {title}>
  <Zone {pageData} {pageType} />
</Page>
