<script>
  import {
    AppBar,
    Button,
    List,
    ListItem,
    NavigationDrawer,
    Tabs,
    Spacer,
    ProgressLinear,
  } from "smelte"

  import { stores } from "@sapper/app"
  import StickyFooterLayout from "../components/StickyFooterLayout.svelte"
  import Tailwind from "../components/Tailwind.svelte"
  import Footer from "../../content/Footer.svelte"
  import { breakpoint } from "../stores.js"

  const { preloading, page, session } = stores()

  export let segment

  let showNav = false
  let showNavMobile = false

  const bp = breakpoint()

  $: config = $session.config
  $: path = $page.path
  $: currentPageConfig = config.pages.find(page => path.includes(page.slug))
  $: navMenu = config.pages.map(page => ({
    to: page.slug || ".",
    text: page.appBarTitle,
  }))
</script>

<svelte:head>
  <title>
    {currentPageConfig ? `${currentPageConfig.appBarTitle} :: ` : ""}
    {config.appBar.title.text}
  </title>
</svelte:head>

<Tailwind />

<StickyFooterLayout>
  <div slot="content">
    {#if $preloading}
      <ProgressLinear app />
    {/if}

    <AppBar color="bg-primary-500">
      <div class="lg:hidden">
        <Button
          icon="menu"
          small
          flat
          remove="p-1 h-4 w-4"
          iconClass={config.appBar.hamburgerMenu.color}
          iconClasses={i => i.replace("p-4", "p-3").replace("m-4", "m-3")}
          text
          on:click={() => {
            showNav = !showNav
            showNavMobile = !showNavMobile
          }} />
      </div>
      <a href="." class="{config.appBar.title.classes} lg:px-8">
        {config.appBar.title.text}
      </a>
      <Spacer />
      <Tabs
        class="hidden lg:flex"
        color="black"
        notSelectedColor="black"
        items={navMenu}
        bind:selected={path} />
    </AppBar>

    {#if $bp}
      <main class="mt-16">
        <NavigationDrawer
          bind:showDesktop={showNav}
          bind:showMobile={showNavMobile}
          breakpoint={$bp}>
          <List items={navMenu}>
            <span slot="item" let:item class="cursor-pointer">
              <a href={item.to}>
                <ListItem
                  id={item.id}
                  text={item.text}
                  to={item.to}
                  selected={path.includes(item.to)}
                  selectedClasses="bg-primary-transLight
                  hover:bg-primary-transLight"
                  dense
                  navigation />
              </a>
            </span>
          </List>
          <hr />
        </NavigationDrawer>
        <slot />
      </main>
    {/if}
  </div>
  <div slot="footer">
    <Footer />
  </div>
</StickyFooterLayout>
